@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url("/images/fundo-portal.jpg");
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 4rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}